<div class="row">
  <div class="col-md-12 mt-4 new-post">
    <div class="row col-md-8 offset-md-2 pt-2 pb-2 border rounded">
      <div class="col-2 text-center">
        <%= image_tag "avatar", class: "avatar" %>
      </div>
      <div class="col-10">
        <%= form_with model: @post, url: params[:id].present? ? post_path : posts_path do |f| %>
        <div>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Title ...' %>
        </div>
        <div class="mt-2">
          <%= f.text_area :body, rows: '4', class: 'form-control', placeholder: 'Description ...'%>
        </div>
        <div class="mt-2 text-center">
          <%= f.submit "Post", class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>