<div class="post border rounded p-2 mt-4">
  <div class="header mt-1 d-flex justify-content-between align-items-center">
    <div class="d-flex gap-3 align-items-center">
      <div class="avatar-user d-flex gap-3 align-items-center">
        <%= image_tag "avatar", class: "avatar" %>
        <%= post.user.name %>
      </div>
    </div>
    <div class="d-flex gap-2 align-items-center">
      <p class="m-0"><%=time_ago_in_words(post.created_at) %></p>
      <% unless params[:id].present? %>
        <%= link_to 'Show', post_path(post) %>
        <% else %>
        <%= link_to 'Back', dashboards_path %>
      <% end %>
      <% if post.user_id == session[:user_id] %>
        <%= link_to 'Edit', edit_post_path(post) %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="content">
    <div class="post-title">
      <p class="h3"><%= post.title %></p>
      <p><%= post.body %></p>
    </div>
  </div>
</div>